a.out

.~lock.library.c#

*.class
.Rproj.user

Rplots.pdf
Design and Analysis of Algorithms/labfat/1.pdf
Design and Analysis of Algorithms/labfat/2.pdf
Design and Analysis of Algorithms/labfat/3.pdf
Design and Analysis of Algorithms/labfat/4.pdf
