# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Other
README.md
*.md