.para1 {
  font-family: Arial;
  color: blue;
}

.para2 {
  font-family: Times New Roman;
  color: red;
}

.para3 {
  font-family: Verdana;
  color: green;
}

.para4 {
  font-family: Courier New;
  color: purple;
}

.para5 {
  font-family: Impact;
  color: orange;
}
